<div class="container">
<% if @licenses.where(state:0).length==0 %>
  <h5>No hay licencias pendientes de revision</h5>
<%else%>
<% @licenses.each do |l| %>
    <h2>Listado de Licencias</h2>
    <table class="table">
      <tr>
        <thead>
          <th>Imagen: </th>
          <th>Estado: </th>
        </thead>
      </tr>
      <tr>
        <td><%= image_tag l.photo.url %></td>
        <td><%= l.state %></td>
        <td><%= link_to "Verificar licencia", edit_license_path(l) %></td>
      </tr>
    </table>
<% end %>
<%end%>
</div>