<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola! <%= @user.name %>! Te escribimos para informar tu licencia ha sido revisada!</p>
    <p>Sigue el siguiente link para obtener mas información al respecto: <%= link_to 'AlquilApp', @url %></p>
  </body>
</html>