<p>Hola!, <%= @user.name %>!</p>
<p>Has requerido cambiar tu contraseña de AlquilApp?</p>
<p>Sino es así ignora ese mail, en caso de que seas vos, seguí el siguiente link: <%= link_to @url, @url %></p>
