<div id="<%= dom_id fine %>">
  <p>
    <strong>Price:</strong>
    <%= fine.price %>
  </p>

  <p>
    <strong>Motive:</strong>
    <%= fine.motive %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= fine.typefine %>
  </p>

</div>
