<p style="color: green"><%= notice %></p>

<h1>Fines</h1>

<div id="fines">
  <% @fines.each do |fine| %>
    <%= render fine %>
    <p>
      <%= link_to "Ver estado de multa", fine_path(fine), class:'btn new_user'  %>
    </p>
  <% end %>
</div>

<%= link_to "New fine", new_fine_path(), class:'btn new_user' %>
