<h1>Formulario para la billetera </h1>

<%= form_with model: @wallet, url: user_wallets_path(@wallet, user_id: 1), method: :post, local: true do |f| %>
  <div class="edit-form-row">
    <div class="edit-form-col form-group">
      <%= f.label :money %>
      <%= f.number_field :money, class: 'form-control' %>
    </div>
    <%= f.submit 'Actualizar' %>
  </div>
<% end %>
