<div class="container">
<% if @cars.nil? %>
  <h1> No hay autos disponibles en este momento, intentelo mas tarde </h1>
<% else %>  
  <% if @cars.length == 0 %>
    <h1> No hay autos disponibles en este momento, intentelo mas tarde </h1>
  <% else %>
    <span class="add-car-span">
      <h2>Listado de Automoviles</h2>
    </span>
    <% @cars.each do |c| %>
      <table class="table">
        <tr>
          <thead>
            <th>Auto N°<%= c.car_number %></th>
          </thead>
        </tr>
          <tr>
            <td><%= image_tag c.photo.url(:thumb).to_s %></td>
            <td><%= link_to 'Alquilar', new_rental_path(user_id: current_user, car_id: c.id), data: {turbo_frame: 'modal'}, class: 'btn'%></td>
            <td><%= link_to "Ver mas detalles", car_path(c) ,  class: 'btn'%></td>
        </table>
    <% end %>
  <% end %>
  <%end%>
 </div>