<section class="index_user">
<%= turbo_frame_tag :modal do %>
  <div class="modals" data-controller="turbomodals">
    <div class="form_container">
      <div class="title">
        <h1 class="add_edit_title"><%= 'Ingresar auto' %></h1>
      </div>
      <%= render 'form_new', method: :post %>
    </div>
  </div>
<% end %>
</section>