<div class="container">
<h2>Elija el tipo de reporte que desea obtener</h2>
<%= link_to "Multas", reports_fines_path, class: 'btn' %>
<%= link_to "Alquileres", history_path, class: 'btn' %>
<%= link_to "Usuarios", history_path, class: 'btn' %>
</div>