<div class="container">
<h2>Elija el tipo de reporte que desea obtener</h2>
<%= link_to "Multas", reports_fines_path, class: 'btn' %>
<%= link_to "Alquileres", reports_rentals_path, class: 'btn' %>
<%= link_to "Usuarios", reports_users_path, class: 'btn' %>
</div>